

.hourly-forecast {
    margin: 20px 0;
  padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .hourly-forecast h3 {
    text-align: start;
    margin:0;    
    font-size: 13px;
  }
  
  .carousel-container {
    position: relative;
  }
  .hourly-items-container img {
    width: 30px;
    height: 30px;

  }
  .hourly-items-container {
    display: flex;

    gap: 55.3px;
  }
  
  .hourly-item {
    flex: 0 0 auto;
    width: 38px;
    border-radius: 8px;
    text-align: center;

  }
  
  .hourly-item .hour {
    font-weight: bold;
    margin-bottom: 0;

  }
  
  .hourly-item .temp {
    margin-top: 0;
    font-size: 1.2em;

  }
  
  .weather-icon {
    width: 60px;
    height: 60px;
  }


  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;

    transition: background-color 0.3s;
    z-index: 1;
  }

  .carousel-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .carousel-arrow.left {
    left: -10px;
  }
  
  .carousel-arrow.right {
    right: -10px;
  }
  
 
  .hourly-items-container::-webkit-scrollbar {
    display: none;
  }
  
 
  .hourly-items-container {
    scrollbar-width: none;
  }
  