.search-bar-container {
  position: absolute;
  top: 110px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  width: 85%;
  max-width: 500px;
  border-radius: 50px;
  box-sizing: border-box;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}


.search-bar-container.open {
  opacity: 1;
  visibility: visible;
}


.search-bar-container.close {
  opacity: 0;
  visibility: hidden;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50px;
  width: 100%;
  height: 45px;
  padding: 0 10px;

}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  background-color: transparent;
  color: #333;
}

.search-bar .search-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.suggestions-list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  color: #000;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: absolute;
  width: 100%;
  top: 55px;
  left: 0;
  z-index: 1001;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
