.mobile-container {
  width: 375px; 
  height: 812px; 
  border: 1px solid #ccc; 
  border-radius: 30px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  padding: 20px; 
  box-sizing: border-box;
  background-image: url('./assets/images/smartphone-mockup.png'); 
  background-size: cover;
  background-position: center;
  position: relative;
}

.app-wrapper {
 
  position: relative;
}


.main-container-home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;

  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  max-width: 500px;
  color: var(--component-text-color, #000);
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
 
  border-radius: 50px;
  
 
  scrollbar-width: none;
  -ms-overflow-style: none;
  
 
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.no-scroll {
  overflow: hidden;
}


.main-container-home-page::-webkit-scrollbar {
  display: none;
}


.main-container-home-page::before {
  content: "";
  position: absolute;
  top: 0; 
  right: 0; 
  min-height: 90rem;
  bottom: 0; 
  left: 0;
  z-index: -1;
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;

  filter: brightness(0.6);
}


.clear-background-day::before {
  background-image: url('./assets/backgrounds/sol.jpg');
}
.clear-background-night::before {
  background-image: url('./assets/backgrounds/ceulimponoite.jpg');
}

.cloudy-background-day::before {
  background-image: url('./assets/backgrounds/cloudy.jpg');
}
.cloudy-background-night::before {
  background-image: url('./assets/backgrounds/cloudy.jpg');
}

.rainy-background-day::before {
  background-image: url('./assets/backgrounds/default.jpg');
}
.rainy-background-night::before {
  background-image: url('./assets/backgrounds/default.jpg');
}

.thunderstorm-background-day::before {
  background-image: url('./assets/backgrounds/thunderstorm.jpg');
}
.thunderstorm-background-night::before {
  background-image: url('./assets/backgrounds/thunderstorm.jpg');
}

.snow-background-day::before {
  background-image: url('./assets/backgrounds/snow-day.jpg');
}
.snow-background-night::before {
  background-image: url('./assets/backgrounds/snow-night.jpg');
}

.mist-background-day::before {
  background-image: url('./assets/backgrounds/mist-day.jpg');
}
.mist-background-night::before {
  background-image: url('./assets/backgrounds/mist-night.jpg');
}

.default-background-day::before {
  background-image: url('./assets/backgrounds/default-day.jpg');
}
.default-background-night::before {
  background-image: url('./assets/backgrounds/default-night.jpg');
}


.clear-background-color {
  --component-bg-color: transparent;
  --forecast-item-bg-color: rgba(68, 122, 181, 0.1);
  --component-text-color: #f0f0f0;
}

.cloudy-background-color {
  --component-bg-color: transparent;
  --component-text-color: #f0f0f0;
}

.rainy-background-color {
  --component-bg-color: transparent;
  --component-text-color: #f0f0f0;
}

.thunderstorm-background-color {
  --component-bg-color: rgba(80, 80, 80, 0.7);
  --component-text-color: #f0f0f0;
}

.snow-background-color {
  --component-bg-color: rgba(255, 255, 255, 0.8);
  --component-text-color: #f0f0f0;
}

.mist-background-color {
  --component-bg-color: rgba(240, 240, 240, 0.7);
  --component-text-color: #f0f0f0;
}

.default-background-color {
  --component-bg-color: transparent;
  --component-text-color: #f0f0f0;
}


.favorites-carousel-container,
.forecast, 
.favorites,
.hourly-forecast {
  background-color: var(--component-bg-color, #fff);
  color: var(--component-text-color, #fff);
}


.error {
  color: red;
  margin-top: 10px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.top-bar-container {
  display: flex;
  align-items: center;
  position: relative; 
  height: 60px; 
}

.top-bar-container.expanded .header {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.header {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 0.3s ease;
}


.phone-container .interactive-element {
  pointer-events: auto; 
}


.phone-container button {
  pointer-events: auto; 
}





.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 20px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.main-container-home-page {

}


@media (max-width: 768px) {
  .main-container-home-page {
    -webkit-overflow-scrolling: touch;
  }
}
